@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    font: 'Roboto' , sans-serif;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0px;
}

.header {
    background-color: #1F2937;
    display:flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 0px 150px 50px 150px;
}

.upper-header {
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 18px;
    color: #F9FAF8;
}

ul {
    display: flex;
    list-style: none;
    gap:10px;
    color:#E5E7EB;
    font-size: 15px;
}

.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap:wrap;
}

.hero-text,
.hero-img {
    flex:1 1 200px;
}

.hero-text h1 {
    font-size: 48px;
    color:#F9FAF8;
    font-weight: 900;
}

.hero-text p {
    font-size: 15px;
    color:#E5E7EB;
    margin-top: 0px;
}

.hero-image {
    display:flex;
    justify-content: flex-end;
}

button {
    background-color: #3882F6;
    color: #E5E7EB;
    font-weight: bold;
    padding: 5px 10px;
    border-radius: 10px;
    width: 100px;
}

.information {
    display:flex;
    flex-direction: column;
    align-items: center;
}

.info-container {
    display:flex;
    justify-content: center;
    gap:30px;
     flex-wrap: wrap;
}

.info-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color:rgb(110,110,110);
    flex:1 1 200px;
}

.info-img {
    background-color: white;
    border:5px solid #3882F6;
    border-radius: 10px;
    width: 150px;
    height:150px;
}

.info-title {
    color:#1F2937;
    font-weight: 900;
}

.quote-container {
    background-color: #E5E7EB;
    font-size: 25px;
    color:#1F2937;
    font-style: italic;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 50px 150px;
}

.quoter {
    display: flex;
    align-self: flex-end;
    font-weight: bold;
}

.exclamation {
    display:flex;
    justify-content: center;
    align-items: center;
    padding:70px;
}

.action-box {
    display: flex;
    background-color: #3882F6;
    border-radius: 10px;
    gap:50px;
    padding:30px 30px;
    align-items: center;
}

.action-text {
    flex:2 1 70%;
}

.action-text p {
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 18px;
    color: #E5E7EB;
}

.action-btn {
    flex:1 1 30%;
}

.action-btn button {
    background-color: #3882F6;
    color: #E5E7EB;
    border:3px solid white;
    font-weight: bold;
    padding: 5px 10px;
    border-radius: 10px;
    width: 100px;
}

.footer {
    background-color: #1F2937;
    color:#F9FAF8;
    text-align: center;
    padding:20px;
}