@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    font: 'Roboto' , sans-serif;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0px;
}

.header {
    background-color: #1F2937;
    display:flex;
    justify-content: space-between;
    align-items: space-between;
    flex-direction: column;
    padding: 0px 150px;
}

.upper-header {
    display:flex;
    justify-content: space-between;
    align-items: center;
}

ul {
    display: flex;
    list-style: none;
    gap:10px;
}

.hero {
    display: flex;
    justify-content: space-between;
    gap:20px;
}

.hero-image {
    flex-grow:1;
}